<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignment2/src/it/polito/pd2/WF/lab2/WFInfo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.polito.pd2.WF.lab2.WFInfo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment2"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dit.polito.pd2.WF.WorkflowMonitorFactory=it.polito.pd2.WF.Random.WorkflowMonitorFactoryImpl"/>
</launchConfiguration>
